%br
.row
  .col-12
    = simple_form_for(:search, url: accessories_path, method: :get, html: { class: 'navbar-form navbar-right' } )do |f|
      = f.input :modal_id, input_html: { value: params[:search].try(:[], :modal_id) }
      = f.submit 'Search', class: 'btn btn-sm'

  - if current_user && current_user.admin?
    = link_to 'New Product', new_accessory_path
  .col-12
    .row
    - @accessories.each do |accessory|
      .col-sm-2{style: 'height: 250px; overflow:hidden;'}
        = image_tag accessory.image.url, class: 'img-circle', width: 100, height: 100
        %ul.nav
          %li
            %b= accessory.serial_number
          %li= "Model : #{accessory.modal_id}"
          - JSON.parse(accessory.data).each do |k,v|
            %li= "#{k} : #{v}"
          %li= accessory.description
          %li= "INR- #{accessory.price}"
          %li= link_to 'Add To Card', shoping_cards_path(shoping_card: { product_details_attributes: { '0' => { source_id: accessory.id, source_type: 'Accessory' } } } ), method: :post, class: 'btn btn-sm btn-info', id: "Accessory-#{accessory.id}", remote: true
        - if current_user && current_user.admin?
          %br
            = link_to 'Destroy', accessory, method: :delete, data: { confirm: 'Are you sure?' }